@tailwind base;
@tailwind components; 
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.setup, .room-info, .connection-info, .file-transfer {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"], input[type="file"] {
  margin-top: 10px;
  padding: 5px;
  width: 90%;
}


